<div class="content">
    <div class="holder">
        <div class="hold-title line-c">
            <h1>About Parelli</h1>
        </div>
        <p>
            Parelli Natural Horsemanship's goal is to help raise the level of horsemanship worldwide for the benefit of horses and the people who love them.
        </p>
        <p>
            The Parelli Program is a people-training program focused on the study of horse behavior and horsemanship skills. The program spans Four Savvys, or areas of development, through four distinct levels of skill improvement. 
        </p>
        <p>
            The cornerstones of the program are a dedication to never-ending self-improvement and an acknowledgement that the improvement of horsemanship is a lifelong pursuit for those passionate about the horse. 
        </p>
        <p>
            The program encourages students to develop creative problem-solving skills and think in a lateral manner, while taking the non-verbal feedback and expression of the horse into consideration. 
        </p>
    </div>
</div>
