<div class="content contact-page">
  <div class="holder">
    <div class="hold-title line-c">
      <h1>Contact Parelli</h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 contact-info-container">
        <div class="contact-item">
          <span class="country">USA</span>
          <span class="address">
            7 Parelli Way, <br />
            Pagosa Springs, CO 81147 <br />
            PO Box 3729, Pagosa Springs, CO 81147
            </span>
          <ul class="contact-info">
            <li><span class="title">Toll Free: </span>800-642-3335</li>
            <li><span class="title">Phone: </span>970-731-9400</li>
            <li><span class="title">Fax: </span>888-731-9722 or 970-731-9722</li>
            <li><span class="title">Email: </span>pnhusa@parelli.com</li>
            <li><span class="title">Hours: </span><span class="title-last-time">8:30am–4:30pm MST Monday–Friday</span></li>
            <li><span class="title"> </span></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 contact-info-container">
        <div class="contact-item">
          <span class="country">AUSTRALIA</span>
          <span class="address">
            50 Lisa Road, <br />
            Wilton, NSW 2571
            </span>
          <ul class="contact-info">
            <li><span class="title">Toll Free: </span>1 800 460 988</li>
            <li><span class="title">Phone: </span>+61 2 4630 9677</li>
            <li><span class="title">Fax: </span>+61 2 4630 9688</li>
            <li><span class="title">Email: </span>australia@parelli.com</li>
            <li><span class="title">Hours: </span>8:30am–4:30pm Monday–Friday</li>
            <li><span class="title"> </span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 contact-info-container">
        <div class="contact-item">
          <span class="country">UNITED KINGDOM </span>
          <span class="address">
            Winchbottom Farm <br />
            Winchbottom Lane <br />
            Little Marlow <br />
            Buckinghamshire, HP10 9QF
            </span>
          <ul class="contact-info">
            <li><span class="title">Freefone: </span>0800 0234 813</li>
            <li><span class="title">Phone: </span>+44 (0)2476 692 888</li>
            <li><span class="title">Email: </span>uk@parelli.com</li>
            <li><span class="title">Hours: </span>9:00am–4:30pm Monday–Friday</li>
            <li><span class="title"> </span></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 contact-info-container">
        <div class="contact-item">
          <span class="country">EUROPE</span>
          <span class="address">
            Winkel 6, <br />
            7012 Felsberg <br />
            Switzerland
            </span>
          <ul class="contact-info">
            <li><span class="title">Phone: </span>+41 81 834 49 39</li>
            <li><span class="title">Fax: </span>+41 81 834 49 38</li>
            <li><span class="title">Email: </span>info@parelli-instruktoren.com</li>
            <li><span class="title">Website: </span>www.parelli-instruktoren.com</li>
            <li><span class="title">Hours: </span>8:30am–5:00pm Monday–Friday</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
