.sub-hold-title {
  color: $ld-category;
  text-transform: uppercase;
  font-weight: 600;
}

.ld-overview,
.ld-objectives {
	line-height: 1.4em;
  .content-block {
    p, 
    li, 
    span, 
    div {
      color: $grey3 !important;
      font-size: 1em !important;
    }
  }
}

.lesson {
  // .holder-box {
  //   padding-bottom: 0 !important;
  //   padding-top: 10px !important;
  // }
  .main-container {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  // .hold-title {
  //   margin-bottom: 0 !important;
  // }
}

.lessons-sidebar-padding {
  @include bp(xxs) {
    padding-right: 40px;
  }
}