<!--<div class="main-container prl-groups-detail__replycontainer" ng-include="'app/wall/template/_createwallpost.html'"></div>-->
<div class="prl-wall__filters">
  <div class="allgroups-header white connections-filter-box">
    <form class="clearfix">
      <div class="allgroups-header__filters">
        <div class="allgroups-header__form">
          <span class="connections-filterby-text">Show:</span>
          <select ng-options="filter as filter.label for filter in $ctrl.liveWallFiltersOptions.filters" ng-model="$ctrl.liveWallFilters.filter" ng-change="$ctrl.filterPublicPosts($ctrl.liveWallFilters.filter.type, $ctrl.liveWallFilters.updates)"></select>
          <input type="checkbox" id="wall" class="dark" ng-model="$ctrl.liveWallFilters.updates.wall" ng-change="$ctrl.filterPublicPosts($ctrl.liveWallFilters.filter.type, $ctrl.liveWallFilters.updates)" ng-true-value="[{type: 'WallPost'}, {type: 'Playlist'}]" ng-false-value="-1"/>
          <label for="wall">Wall Updates</label>
          <input type="checkbox" id="horse" class="dark" ng-model="$ctrl.liveWallFilters.updates.horse" ng-change="$ctrl.filterPublicPosts($ctrl.liveWallFilters.filter.type, $ctrl.liveWallFilters.updates)" ng-true-value="[{type: 'HorseHealth'}, {type: 'HorseProgress'}, {type: 'WallSolutionmapPost'}]" ng-false-value="-1"/>
          <label for="horse">Horse Updates</label>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="main-container prl-wall__container clearfix" block-ui="groupsPostsLoading">
  <div class="content-holder forum-content">
    <div class="block-holder forum-item prl-groups-detail__posts">
      <div class="topic-box comments-box prl-groups-detail__postbox" block-ui="postLoading">
        <wall-post ng-repeat="post in $ctrl.posts | orderBy: '-created_at' track by post.id" post="post" owner-id="$ctrl.ownerId"
          like="$ctrl.likePost" comment="$ctrl.commentPost" get-comments="$ctrl.getComments" edit-post="$ctrl.editPost" delete-post="$ctrl.deletePost"
          edit-comment="$ctrl.editComment" delete-comment="$ctrl.deleteComment" has-commented="$ctrl.hasCommented" root-access="$ctrl.rootAccess"></wall-post>
      </div>
    </div>
  </div>
  <div class="pl-error__container" ng-if="!$ctrl.posts.length > 0">
    <div class="pl-error">
      <span class="pl-error__message">Be the first to tell us what's new! Create a post!</span>
    </div>
  </div>
  <button type="submit" class="btn btn-yellow btn-submit pull-right" ng-disabled="$ctrl.postLoadIsProcessing || $ctrl._postReachedEnd"
    ng-click="$ctrl.onLoadMorePublicPostsClicked($ctrl.liveWallFilters.filter, $ctrl.liveWallFilters.updates)" ng-class="{'processing': $ctrl.postLoadIsProcessing}">
    <div class="bs-process-bar uil-ring-css yellow">
      <div></div>
    </div>
    <span class="bs-login-text">VIEW MORE</span>
  </button>
</div>
