.container {
	padding: 50px 35px;
}
a,
a:hover,
a:active,
a:focus,
a:visited,
button,
button:hover,
button:active,
button:focus,
button:visited {
	outline: none !important;
}

.input-dropdown {
	width: 100%;
}