<ul class="archive-list">
  <li>
    <a ui-sref="blog-detail">
      <div class="hold-img" style="background-image: url('//s3.amazonaws.com/savvyclub-staging/rich/rich_files/rich_files/181/original/rackmultipart20161216-12696-1v65qkg.jpg?1481892905');">
      </div>
    </a>
    <a ui-sref="blogdetail">
      <h4 class="archive-list__title">Lorem ipsum dolor</h4>
    </a>
    <p>Lorem ipsum dolor sitamet consectetur adipis elitsed doeiu smod tempor Lorem ipsum dolor sitamet consectetur adipis elitsed
      doeiu smod tempor....</p>
    <ul class="sender-list">
      <li>by Candlish</li>
      <li><span class="date">May 3, 2014</span></li>
    </ul>
  </li>
  <li>
    <a ui-sref="blog-detail">
      <div class="hold-img" style="background-image: url('//s3.amazonaws.com/savvyclub-staging/rich/rich_files/rich_files/181/original/rackmultipart20161216-12696-1v65qkg.jpg?1481892905');">
      </div>
    </a>
    <a ui-sref="blog-detail">
      <h4 class="archive-list__title">Lorem ipsum dolor</h4>
    </a>
    <p>Lorem ipsum dolor sitamet consectetur adipis elitsed doeiu smod tempor Lorem ipsum dolor sitamet consectetur adipis elitsed
      doeiu smod tempor....</p>
    <ul class="sender-list">
      <li>by Candlish</li>
      <li><span class="date">May 3, 2014</span></li>
    </ul>
  </li>
  <li>
    <a ui-sref="blog-detail">
      <div class="hold-img" style="background-image: url('//s3.amazonaws.com/savvyclub-staging/rich/rich_files/rich_files/181/original/rackmultipart20161216-12696-1v65qkg.jpg?1481892905');">
      </div>
    </a>
    <a ui-sref="blog-detail">
      <h4 class="archive-list__title">Lorem ipsum dolor</h4>
    </a>
    <p>Lorem ipsum dolor sitamet consectetur adipis elitsed doeiu smod tempor Lorem ipsum dolor sitamet consectetur adipis elitsed
      doeiu smod tempor....</p>
    <ul class="sender-list">
      <li>by Candlish</li>
      <li><span class="date">May 3, 2014</span></li>
    </ul>
  </li>
</ul>
