<form name="regForm" id="signup-form" novalidate>
  <div id="step3" class="tab-pane">
    <!-- po-heading block -->
    <div class="row po-heading bottom-buffer-60">
      <div class="col-md-12">
        <h1>Tell us about your goals and challenges with this horse.</h1>
        <h4>(Please select at least one)</h4>
        <div class="tiny-border"></div>
      </div>
    </div>
    <!-- /po-heading -->

    <!-- po__s3__commonIssues -->
    <div class="row bottom-buffer-40">
      <div class="col-md-12">
        <div class="po__s3__commonIssues">
          <h3>Some Common Issues</h3>

          <ul ng-if="$ctrl.commonissues" class="po__s3__commonIssues__container" multiple="">
            <li ng-repeat="(issue_index, issue) in $ctrl.commonissues track by $index">
              <div>
                <input type="checkbox" name="comissues" id="ci-{{issue.id}}" ng-change="$ctrl.onIssueItemChecked();" ng-model="$ctrl.selectedIssues[issue.id]"
                  required/>
                <label for="ci-{{issue.id}}">{{issue.title}}</label>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- /po__s3__commonIssues -->

    <!-- po__s3__moreIssues -->
    <div class="po__s3__moreIssues">
      <div class="arrow-down po-s3-arrow"></div>
      <div class="po__s3__moreIssues__container">
        <div class="row">
          <div class="col-md-12">
            <h3>Read more issues that apply to: "{{$ctrl.goal.title}}"</h3>
          </div>
        </div>

        <div class="row">

          <div ng-if="$ctrl.otherissues" class="col-sm-4 col-md-4">
            <ul id="myTabs" class="nav nav-tabs" role="tablist" multiple="">
              <li ng-repeat="(category_index, category) in $ctrl.otherissues" role="presentation" ng-class="{'active': category_index == 0}">
                <a data-target="#tab{{category_index}}" aria-controls="tab{{category_index}}" role="tab" data-toggle="tab">{{category.title}}</a>
              </li>
            </ul>
          </div>

          <div ng-if="$ctrl.otherissues" class="col-sm-8 col-md-8">
            <div class="tab-content">
              <div ng-repeat="(category_index, category) in $ctrl.otherissues" id="tab{{category_index}}" role="tabpanel" class="tab-pane"
                ng-class="{'fade in active': category_index == 0}">
                <ul ng-if="category.issues" class="po__s3__moreIssues__list">
                  <li ng-repeat="(issue_index, issue) in category.issues">
                    <div>
                      <input type="checkbox" name="" id="mi-{{category.id}}-{{issue.id}}" ng-change="$ctrl.onIssueItemChecked();" ng-model="$ctrl.selectedIssues[issue.id]"
                      />
                      <label for="mi-{{category.id}}-{{issue.id}}">{{issue.title}}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

					<div class="col-md-12">
						<input type="button" ng-disabled="!$ctrl.selectedIssues.length > 0" class="btn btn-black btn-sm pull-right" ng-click="$ctrl.clearSelectedIssues()" value="CLEAR ALL">
					</div>
        </div>

        <!-- po-footer -->
        <div class="row po-footer">
          <div class="col-md-6">
            <div class="po-navigations">
              <input ui-sref="updateOnboard.goals" type="button" class="btn btn-black pull-left" value="BACK">
            </div>
          </div>
          <div class="col-md-6">
            <div class="po-navigations clearfix">
              <button ng-disabled="!($ctrl.selectedIssues.length > 0) || $ctrl.isProcessing" ng-click="$ctrl.submitClicked($ctrl._horseId, $ctrl.selectedIssues)"
                class="btn btn-yellow pull-right btn-submit" type="submit" ng-class="{'processing': $ctrl.isProcessing}" id="po-next">
							<div class="bs-process-bar uil-ring-css yellow">
								<div></div>
							</div>
							<span class="bs-login-text">
								SAVE
							</span>
						</button>
            </div>
          </div>
        </div>
        <!-- /po-footer -->
      </div>
    </div>
    <!-- /po__s3__moreIssues -->
  </div>
  </div>
</form>
