<div id="registeringPopup" class="modal fade login-popup popmessage" tabindex="100" role="dialog">
  <div class="modal-dialog login" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p class="loading-quote">
              "No hour of life is wasted that is spent in the saddle."
              <br><small> Winston Churchill </small>
            </p>
            <br>
            <p>
              Or in processing your registration and creating your account.<br />
              Your horse will thank you!
            </p>
          </div>
          <div class="col-sm-12">
            <span class="loading-dots h40"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
