<div id="waitingPopup" class="modal fade login-popup popmessage" tabindex="100" role="dialog">
  <div class="modal-dialog login" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p>
              We're updating your membership. This might take just a bit, but we'll have you back in the saddle in no time.
            </p>
          </div>
          <div class="col-sm-12">
            <span class="loading-dots h40"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="waitingPassPopup" class="modal fade login-popup popmessage" tabindex="100" role="dialog">
  <div class="modal-dialog login" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p>
              We're updating your password. This might take just a bit, but we'll have you back in the saddle in no time.
            </p>
          </div>
          <div class="col-sm-12">
            <span class="loading-dots h40"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

