<form name="horseDentalVisitForm">
  <div class="row formRow bgColor">
    <div class="col-md-12">


      <div ng-include src="'app/publichorseprofile/template/_health-posts.html'"> </div>

<!--       <div class="row online-container-row">
        <div class="online-container">
          <div class="po-s2-form-container ">

            <div class="main-container prl-wall__container clearfix" block-ui="groupsPostsLoading">
              <div class="content-holder forum-content">
                <div class="block-holder forum-item prl-groups-detail__posts">
                  <div class="topic-box comments-box prl-groups-detail__postbox" block-ui="postLoading">
                    <wall-post ng-repeat="post in $ctrl.healthLogs | orderBy: '-created_at' track by post.id" post="post" owner-id="$ctrl.ownerId"
                    like="$ctrl.likePost" comment="$ctrl.commentPost" get-comments="$ctrl.getComments" edit-post="$ctrl.editPost" delete-post="$ctrl.deletePost"
                    edit-comment="$ctrl.editComment" delete-comment="$ctrl.deleteComment" has-commented="$ctrl.hasCommented" root-access="$ctrl.rootAccess"></wall-post>
                  </div>
                </div>
              </div>
            </div>

        </div>

            <div class="prl-viewmore-btn">
              <button type="submit" class="btn btn-yellow btn-submit pull-right" ng-disabled="$ctrl.isHealthLogLoading || $ctrl.hasHealthLogReachedEnd"
              ng-click="$ctrl.viewMoreHealthLog()" ng-class="{'processing': $ctrl.isHealthLogLoading}">
                <div class="bs-process-bar uil-ring-css yellow">
                  <div></div>
                </div>
                <span class="bs-login-text">VIEW MORE</span>
              </button>
            </div>


      </div>


    </div>
  -->
</div>
</div>
</form>
