<div id="content" class="password-reset">
  <div class="bottom-buffer-40">
    <h1 class="membership-type-heading">Reset Your Password</h1>
    <div class="tiny-border"></div>
  </div>
  <form name="passRestForm">
    <div class="password-reset__fields">
      <div ng-if="$ctrl.tokenFound" class="row">
        <div class="col-md-12 po-s2-form-field-group" ng-class="{ 'has-error' : passRestForm.password.$invalid && !passRestForm.password.$pristine }">
          <input type="password" name="password" placeholder="New Password" class="form-control" ng-model="$ctrl.password" ng-minlength="6"
            ng-model-options="{updateOn: 'blur'}" required>
            <p ng-show="passRestForm.password.$invalid && !passRestForm.password.$pristine" class="help-block">Password length should be more than 6 characters long.</p>
        </div>
        <div class="col-md-12 po-s2-form-field-group" ng-class="{ 'has-error' : $ctrl.confpassword !== $ctrl.password && !passRestForm.confpassword.$pristine }">
          <input type="password" name="confpassword" placeholder="Confirm New Password" class="form-control" ng-model="$ctrl.passwordConf"
            ng-model-options="{updateOn: 'blur'}" required>
            <p ng-show="$ctrl.passwordConf !== $ctrl.password && !passRestForm.confpassword.$pristine" class="help-block">Your passwords don't appear to match, please try again.</p>
        </div>
        <div class="col-xs-12">
          <!--<input ng-disabled="passRestForm.$invalid || $ctrl.passwordConf !== $ctrl.password || $ctrl.resetBusy" ng-click="$ctrl.onPasswordRestClicked()"
            type="button" id="po-next" class="btn btn-yellow pull-right" value="UPDATE" href="" disabled="disabled">-->
          <button type="submit" class="btn btn-yellow btn-submit" ng-disabled="passRestForm.$invalid || $ctrl.passwordConf !== $ctrl.password || $ctrl.resetBusy" ng-click="$ctrl.onPasswordRestClicked()" ng-class="{'processing': $ctrl.resetBusy}">
            <div class="bs-process-bar uil-ring-css yellow">
              <div></div>
            </div>
            <span class="bs-login-text">UPDATE</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
