<div id="main" class="profile-pages">
  <dashboard-header title="Settings"></dashboard-header>
  <div class="holder ">
    <div class="hold-program blog">
      <ul class="nav nav-tabs profile-tabs" role="tablist" multiple="">
        <li role="presentation" class="active"><a href="" data-target="#tab1" aria-controls="latest" role="tab" data-toggle="tab">Privacy</a></li>
      </ul>
      <div class="tab-content profile-content">
        <div role="tabpanel" class="tab-pane  active" id="tab1">
          <div ng-include src="'app/settings/template/_privacy.html'"> </div>
          <!-- tab pane 1 ends -->
        </div>
      </div>
    </div>
  </div>
</div>