<!-- Savvy Popup -->
<div id="savvyModal" class="modal fade login-popup search-popup savvy-popup" tabindex="100" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.stopPlayer()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Savvy</h4>
      </div>
      <div class="modal-body">
        <p>
          Pat Parelli has identified four ways of playing with horses, four areas in which a horse and human can learn from one another. He dubbed these areas "the Four Savvys." Together they form the blueprint for you as a horseman, and for the Parelli Program as a whole. 
        </p>
        <ul class="savvies">
          <li>
            <span class="title">
              On Line
            </span>
            (playing on the ground with ropes of varying lengths) has proven to be the most successful entry point into the Savvys.
          </li>
          <li>
            <span class="title">
              Liberty
            </span>
            is all about, developing a true partnership with your horse on the ground, with no strings (or lead ropes) attached. 
          </li>
          <li>
            <span class="title">
              FreeStyle
            </span>
            (riding on a loose rein) introduces the fundamentals of riding and sets the stage for everything from trail riding to performance sports and beyond.
          </li>
          <li>
            <span class="title">
              Finesse
            </span>
            is about riding with contact, precision, and vertical flexion. With Finesse, you learn how to truly become excellent as a rider. The skills you develop with Finesse directly translate to any advanced riding you do beyond the Parelli Program.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>