.password-reset {
	&__fields {
		// border: 1px $po-s2-form-bg solid;
		background-color: $po-s2-form-bg;
		margin: 0 auto 20px;
		padding: 50px 230px;
		width: 70%;
		@include bp(md) {
			padding: 50px 150px;
		}
		@include bp(xs) {
			padding: 50px;
			width: 80%;
		}
		@include bp(xxs) {
			padding: 30px;
			width: 100%;
		}
		.form-group:last-child {
			margin-bottom: 0;
		}
		.btn {
			display: block;
			margin: 30px auto 0;
			width: 100% !important;
		}
	}
}