<div class="category-box">
    <div class="category-viewport">
        <div class="ul-container">
            <ul id="imgUL">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
                <li>item 5</li>
                <li>item 6</li>
            </ul>
        </div>   
    </div>

    <div class="category-control-box">
        <button class="slide-right" id="slide-right"></button>
        <button class="slide-left" id="slide-left"></button>
    </div>
</div>