<footer id="footer">
    <div class="holder">
        <div class="left-side">
            <p>Where We Are</p>
            <div class="location-box">
                <div class="item item_sm">
                    <span class="country">Usa</span>
                    <a href="tel:8006423335" class="phone"><span>Toll Free:</span> 800-642-3335</a>
                    <a href="mailto:pnhusa@parelli.com" class="mail"><span>Email:</span> pnhusa@parelli.com</a>
                </div>
                <div class="item">
                    <span class="country">AUSTRALIA</span>
                    <a href="tel:+61246309677" class="phone"><span>Toll Free:</span> +61 2 4630 9677</a>
                    <a href="mailto:australia@parelli.com" class="mail"><span>Email:</span> australia@parelli.com</a>
                </div>
                <div class="item item_sm">
                    <span class="country">UK</span>
                    <a href="tel:08000234813" class="phone"><span>Toll Free:</span> 0800 0234 813</a>
                    <a href="mailto:uk@parelli.com" class="mail"><span>Email:</span> uk@parelli.com</a>
                </div>
                <div class="item">
                    <span class="country">EUROPE</span>
                    <a href="tel:+41818344939" class="phone"><span>Toll Free:</span> +41 81 834 49 39</a>
                    <a href="mailto:info@parelli-instruktoren.com" class="mail"><span>Email:</span> info@parelli-instruktoren.com</a>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="social-box">
                <p>We are Social</p>
                <ul class="social-list">
                    <li>
                        <a href="http://www.twitter.com/officialparelli" target="_blank" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/parellinaturalhorsetraining" target="_blank" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/parellitube" target="_blank" class="icon google"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="http://www.instagram.com/parellicentral" target="_blank" class="icon linkedin"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="copy-box">
                <strong class="title">
                    <img src="./resources/images/logo-footer.png" alt="">
                </strong>
                <p>&copy; 2017 Parelli</p>
            </div>
        </div>
    </div>
</footer>
