<div class="pw-progress-category blue">
  <!-- Add class `completed` if the category is completed -->
  <div class="pw-badge completed" data-toggle="modal" data-target="#myModal">
    <div class="pw-padge__content">
      <!-- <img src="http://placehold.it/80x80"> -->
      <svg src="./resources/images/badge.svg"></svg>
      <span class="savvy">Liberty</span>
      <span class="category">2.1 Theory &amp; Tools</span>
    </div>
    <div class="arrow-down"></div>
  </div>
  <div class="pw-desc">
    <div class="pw-desc__prog">
      100%
      <div class="arrow-rounded">
        <div class="arrow-rounded__inner">&nbsp;</div>
      </div>
    </div>
    <div class="pw-desc__desc">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo aut
    </div>
  </div>
  <div class="pw-progress">
    <div class="pw-progress__bar"></div>
  </div>
</div>
